<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuTxRK4duu-rRbQPbCaQM1wf2U1vanTq0</string>
	<key>GCM_SENDER_ID</key>
	<string>981136088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendarScheduler</string>
	<key>PROJECT_ID</key>
	<string>calendar-scheduler-16488</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-scheduler-16488.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981136088:ios:ba42d5adbe9e83cda5ddad</string>
</dict>
</plist>